:root {
    --heavyBackground: yellow;
    --lightBackground: lightyellow;
    --standardBackground: white;
}

.headerContainer {
    z-index: 999;
}

.titleArea {
    height: 40px;
    z-index: 2000;
    background-color: var(--lightBackground);
    display: flex;
    justify-content: space-between;
}

.contentArea {
    position: absolute;
    top: 40px;
    z-index: 1000;
    min-height: 100px;
    width: 100%;
    background-color: var(--standardBackground);
}

.herePanel {
    position: absolute;
    top: 40px;
    z-index: 1001;
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--heavyBackground);
}

.icons {
    margin-right: 4px;
}
