.searchContainer {
    position: absolute;
    top: 40px;
    left: 20%;
    z-index: 1001;
    width: 80%;
    min-height: 300px;
    height: 90%;
    overflow-y: scroll;
    background-color: yellow;
    padding: 16px;
}

.searchResultsContainer {
    margin-top: 16px;
}
