:root {
    --heavyBackground: yellow;
    --lightBackground: lightyellow;
    --standardBackground: white;
}

.showLogsContainer {
    position: absolute;
    top: 40px;
    left: 20%;
    z-index: 1001;
    width: 80%;
    min-height: 300px;
    height: 90%;
    overflow-y: scroll;
    background-color: var(--heavyBackground);
    padding: 16px;
}
