.theMapContainer {
    height: calc(100vh - 100px); /* Why 100px iso 40px? who knows? */
    width: 100%;
    position: absolute;
    top: 40px;
}

.mapLayers {}

/*.ol-control {*/
/*    position: absolute;*/
/*    background-color: rgba(255,255,255,0.4);*/
/*    border-radius: 4px;*/
/*    padding: 2px;*/
/*}*/

/*.ol-full-screen {*/
/*    top: .5em;*/
/*    right: .5em;*/
/*}*/
